@keyframes pulse {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.1);
  }

}

body {
  background-color: #002a69;
}

.navbar {
  background-color: #2278c9;
  border-bottom: 1px solid #3572e4;
}

.front-bg {
  background-color: #0a348d;
  padding: 100px;
}

.logo-container {
  display: flex;
  align-items: center; 
}

.logo-container img {
  max-height: 80px;
  margin-right: 10px;
}

.logo-container h1 {
  margin-top: 25px;
  padding-right: 1000px;
}

.library-name {
  margin-right: 10px;
  color: white; 
}

.navbar-brand,
.navbar-nav a {
  color: white !important;
  font-weight: bold;
  padding-right: 10px;
  font-size: 20px;
}

.navbar-brand,
.navbar-nav a:hover {
  color: rgb(59, 59, 59) !important;
  font-weight: bold;
  font-size: 20px;
}

.navbar-toggler-icon {
  color: #fff;
}
.navbar-nav .nav-link {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link i {
  margin-right: 5px; 
}


.navbar-toggler {
  border-color: #fff;
  background-color: #fff;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
  background-color: #575757;
}

.navbar-nav {
  margin-right: auto;
}


.input-group {
  margin-top: 10px;
  border-radius: 25px;
  margin-bottom: 15px;
}

.input-group-append button {
  background-color: #0050c7;
  border-color: #0050c7;
  color: #fff;
}

.input-group-append button:hover {
  background-color: #002395;
  border-color: #002395;
}

.btn-blue {
  background-color: #0050c7;
  border-color: #0050c7;
  color: rgb(255, 255, 255);
}

.btn-blue:hover {
  background-color: #002395;
  border-color: #002395;
  color: #c0c0c0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-img-top {
  height: 450px;
  border-radius: 25px;
  object-fit: fill;
}

.card-body {
  flex-grow: 1; 
}

.reserve-btn {
  width: 100%; 
}

.card-footer {
  text-align: center;
}

.book-card {
  background-color: #003b94; 
  color: white; 
  padding: 5px;
  border-radius: 25px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.book-card:hover {
  animation: pulse 1s forwards;

}

.modal-content {
  background-color: #002a69; 
  color: white; 
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}




.book-cards-section {
  height: 80vh;
  overflow-y: auto;
}



#inventoryTable {
  table-layout: fixed;
  width: 100%;
  border-radius: 25px;
}

#reservationChart {
  background-color: #ffffff;
  border-radius: 25px;
}

#pieChartContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#reservationPieChart {
  max-width: 700px; 
  max-height: 700px;


}

.section {
  padding-bottom: 20px; 
}

.section-header {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

tr {
  background-color: #1c44b1;
}

th {
  color: #ffffff;
}

.dataTables_wrapper .dataTables_filter input {
  color: #ffffff;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.dataTables_wrapper .dataTables_filter label {
  color: #ffffff;
  font-weight: bold;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: #fff;
  background-color: rgb(255, 255, 255);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background-color: rgb(77, 134, 240);
}


.dataTables_info {
  color: white;
}